.cart__list {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  gap: 20px;
}

.cart__row {
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;
}

.cart__total {
  font-size: 22px;
  font-weight: 600;
}

.cart__order-button {
  margin-top: 25px;
}

.cart__empty {
  padding-top: 70px;
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}
